.card-container {
  width: 200px;
  aspect-ratio: 1 / 1.3;

  perspective: 1000px;
}

.card-brawler-image {
  max-width: 140px;
  padding: 1em;
}

.card-brawler-name {
  text-align: center;
  font-size: calc(1rem + 1vw);
  color: black;
}

.card {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 10px black;
  background-color: white;
  border: 16px solid white;
  border-radius: 25px;
  cursor: default;

  position: relative;
  transform-style: preserve-3d;
  transition: transform 500ms ease;
}

.cards-container[data-show-front="true"] .card-container .card {
  transform: rotateY(180deg);
}

.cards-container[data-show-front="false"] {
  pointer-events:none
}

.inner-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: items;
  border-radius: 15px;

  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  border: 7px solid #CED6EC;
  background-color: #DDE7FD;

  transform: rotateY(180deg);
}

.card-back {
  border: 7px solid #075AAD;
  background-color: #0086FC;
  z-index: -1000;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chip {
  position: relative;
  display: block;
  margin: 30px auto;
  width: 100px;
  height: 100px;
  border: 13px dashed white;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  font-family: Helvetica;
  color: white;
}
.chip:before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -18px;
  border-radius: 50%;
  border: 5px solid #B20F35;
  filter: brightness(105%);
  background: red;
  content: '';
}
.chip:after {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 5px solid #BB1038;
  filter: brightness(110%);
  border-radius: 50%;
  content: '';
}

@media (max-width: 1024px) {
  .card-container {
    max-width: 170px;
  }
  
  .card-brawler-image {
    max-width: 130px;
  }

  .chip {
    border: 10px dashed white;
    width: 75px;
    height: 75px;
  }

  .chip::before {
    margin: -15px;
  }
}

@media (max-width: 900px) {
  .card-container {
    max-width: 150px;
  }
  
  .card-brawler-image {
    max-width: 110px;
  }

  .chip {
    border: 8px dashed white;
    width: 60px;
    height: 60px;
  }

  .chip::before {
    border: 4px solid #B20F35;
    margin: -13px;
  }
}

@media (max-width: 768px) {
  .card-container {
    max-width: 150px;
  }
  
  .card-brawler-image {
    max-width: 110px;
  }
}

@media (max-width: 600px) {
  .card-container {
    max-width: 125px;
  }
  
  .card-brawler-image {
    max-width: 90px;
  }

  .chip {
    display: none;
  }
}

@media (max-width: 375px) {
  .card-container {
    max-width: 120px;
  }
  
  .card-brawler-image {
    max-width: 90px;
  }
}