.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: auto;
  gap: 1em;
  padding: 1em;
  padding-top: 2em;
}

@media (max-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(3, min-content);
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, min-content);
  }
}

@media (max-width: 515px) {
  .cards-container {
    grid-template-columns: repeat(1, min-content);
  }
}